@media screen and (min-width: 568px) {
  img {
    display: block;
    width: 100%;
  }

  .name-container .small-text,
  .name-container .bold-text,
  hr {
    display: block;
  }

  .side-elements {
    align-items: center;
    display: flex;
  }

  .playlist-elements {
    display: block;
  }

  .logo-container .small-text {
    display: block;
  }

  .side-container {
    text-align: start;
    width: 150px;
  }

  .large-logo {
    display: block;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
  }
  .small-logo {
    display: none;
  }

  .square-side {
    color: var(--small-color-text);
    font-size: 2rem;
    padding: 0.5rem 0;
  }

  .bottom-container .banner-dx .container {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1-4 {
    flex-basis: calc((100% - (0.5rem * 3)) / 4);
  }

  .icons-container {
    display: flex;
    gap: 0.5rem;
  }

  .bottom-container .banner-dx .container {
    width: 40%;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1-6 {
    flex-basis: calc((100% - (0.5rem * 5)) / 6);
  }

  .bottom-container .banner-dx .container {
    width: 50%;
  }
}
