:root {
  --side-color: #000000;
  --text-color: white;
  --small-color-text: #717171;
  --top-section-color: #191925;
  --main-section-color: #272b35;
  --bottom-container-color: #383838;
  --color-bar-bottom-hover: #bdef60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--small-color-text);
}

.side-elements:hover {
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

.logo-container .small-logo img {
  width: 30px;
}

.main-container .section-container .container img {
  width: 100%;
  display: block;
}

.main-container {
  display: flex;
  width: 100vw;
}

.section-container {
  flex-grow: 1;
  background-color: var(--main-section-color);
  height: calc(100vh - 100px);
  overflow: auto;
}

.side-container {
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60px;
  background-color: var(--side-color);
  color: var(--text-color);
  flex-shrink: 0;
}

.bottom-container {
  height: 100px;
  flex-shrink: 0;
}

.icon,
.small-text {
  padding-bottom: 0.5rem;
  color: var(--small-color-text);
}

.section-container .row {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.logo-container .small-text {
  display: none;
}

.name-container .small-text,
.name-container .bold-text,
hr {
  display: none;
}

.bottom-container .row img {
  width: 30px;
}

.small-text {
  font-size: 0.7rem;
}

.side-elements {
  gap: 0.5rem;
  text-align: center;
}

.logo-container {
  flex-shrink: 0;
}

.playlist-container {
  flex-grow: 1;
  padding: 1rem 0;
  overflow: auto;
}

.playlist-elements {
  display: none;
}

.bold-text {
  font-weight: bold;
  padding: 0.5rem 0;
}

.small-icon {
  font-size: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--small-color-text);
}

.normal-text {
  color: var(--small-color-text);
}

.small-logo {
  padding: 0.5rem 0;
}

.large-logo {
  display: none;
}

.no-padding {
  padding: 0;
}

.pdx-sx-1w-small {
  padding: 0 1vw;
}

hr {
  color: var(--small-color-text);
}

.white {
  color: var(--text-color);
}

.top-section {
  background-color: var(--top-section-color);
  text-align: end;
  padding: 1rem 0.5rem;
}

button {
  cursor: pointer;
}

.section-container button {
  border: none;
  background-color: transparent;
  border: 1px solid var(--text-color);
  border-radius: 25px;
  color: var(--text-color);
  padding: 0.5rem;
}

.bottom-container button {
  border: none;
  background-color: transparent;
  color: var(--small-color-text);
}

.bottom-container .banner-c button {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.5rem;
}

.bottom-container .banner-c .row:first-child {
  padding-top: 0;
}

.bottom-container .banner-c .row:last-child {
  padding: 0;
}

.bottom-container .banner-dx .container {
  display: none;
}

.bottom-container .container {
  width: 60%;
  display: flex;
  align-items: center;
  padding: 0;
}

.categories {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container {
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0;
}

.col-xs-1-2 {
  flex-basis: calc((100% - (0.5rem * 1)) / 2);
}

.txt-central {
  text-align: center;
}

.ptb-05 {
  padding: 0.5rem 0;
}

.bottom-container {
  background-color: var(--bottom-container-color);
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.p-dx-sx-1 {
  padding: 0 1rem;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.white-bar {
  width: 25%;
  border: 1px solid var(--text-color);
}

.gray-bar {
  width: 75%;
  border: 1px solid var(--small-color-text);
  display: inline-block;
}

.banner-sx {
  padding: 0 0.5rem;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

a:hover {
  color: var(--text-color);
}

button:hover {
  color: var(--text-color);
}

.side-container .small-text:hover {
  color: var(--text-color);
  position: relative;
  animation-name: left-right;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.square-side:hover .side-elements {
  color: var(--text-color);
}

.bottom-container .small-text:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.top-section button:hover {
  transform: scale(1.1);
}

.banner-c .fa-circle-play:hover {
  transform: scale(1.5);
}

.white-bar:hover {
  border: 1px solid var(--color-bar-bottom-hover);
}

.circle {
  display: none;
  color: var(--text-color);
}

.white-bar:hover + .circle {
  display: block;
}

.col-lg-1-6:hover img {
  opacity: 0.5;
}

.cover {
  position: relative;
}

.col-lg-1-6 .play {
  display: none;
}

.play {
  font-size: 4rem;
  color: var(--text-color);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -35px;
}

.col-lg-1-6:hover .play {
  display: block;
}

.col-lg-1-6 {
  min-width: 200px;
}

.animation:hover {
  animation-name: side-link;
  animation-duration: 5s;
}

@keyframes side-link {
  0% {
    color: var(--small-color-text);
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}

@keyframes left-right {
  0% {
    color: var(--small-color-text);
    left: 0;
    top: 0;
  }

  25% {
    color: yellow;
    left: 15px;
    top: 0;
  }

  50% {
    color: red;
    left: 0;
    top: 0;
  }

  75% {
    color: yellow;
    left: 15px;
    top: 0;
  }
  100% {
    color: var(--small-color-text);
    left: 0;
    top: 0;
  }
}
